body{
    background-color: beige;
    font-family: sans-serif ;
    width: 60%;
    margin: 50px auto;
}
.class-1{
    display: inline;
    padding:20px ;
    margin-top: 20px;
}
.class-2{
    display: inline;
}


#personal{
    text-decoration: underline;
    font-size: 30px;
}